body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 60px;
  overflow: hidden;
}

header,
footer {
  text-align: center;
  position: relative;
}

main {
  display: grid;
  grid-template-rows: 1fr 60px;
  grid-template-columns: 1fr;
  position: relative;
  margin-right: 4%;
  margin-left: 4%;
}

.falling-items {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.item {
  position: absolute;
  width: 4vw;
  height: auto;
  top: 0;

  animation-name: fall;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@media screen and (min-width: 800px) {
  .item {
    width: 2.8%;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .item {
    width: 9%;
    height: auto;
  }
}
.catcher-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catcher {
  position: relative;

  width: 5vw;
  display: block;
}
@media screen and (max-width: 650px) {
  .catcher {
    width: 12vw;
    height: auto;
  }
}

@keyframes fall {
  0% {
    top: 0;
  }
  100% {
    top: 95%;
  }
}

.over,
.win {
  text-align: center;
  display: none;
}
.over h1,
.win h1 {
  margin-bottom: 0;
}
.over h2,
.win h2 {
  margin-top: 0;
}
.over img,
.win img {
  width: 4%;
  height: auto;
  animation-name: shadow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes shadow {
  0%,
  50% {
    filter: drop-shadow(0 0 0.75rem rgb(50, 217, 223));
  }
  100% {
    filter: drop-shadow(0 0 0.75rem var(--bg-color));
  }
}
@media screen and (max-width: 500px) {
  .over img,
  .win img {
    width: 10%;
    height: auto;
  }
}
#change {
  color: rgb(50, 217, 223);
  margin-left: 10px;
}
