:root {
  /* default */
  --bg-color: rgb(251, 247, 249);
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #f0f0f0;
}

[data-theme="light"] {
  --bg-color: rgb(251, 247, 249);
  --text-color: black;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Gloria Hallelujah", "Comic Sans MS", cursive, sans-serif;
}
.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}
