.conatiner {
  border: solid 2px rgb(75, 75, 75);
  border-radius: 5px;
  overflow: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5% 0;
}

.item-container {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: 1fr;
  border-radius: 4px;

  width: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2px;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12%;
}
img {
  width: 50%;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section h5 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1%;
}

section p {
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 2px;
}

