body {
  height: 100svh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

header {
  font-size: 1rem;
  cursor: pointer;
  animation-name: shadow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.intro {
  height: 380px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

#start {
  cursor: pointer;
  width: 10%;

  animation-name: shadow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes shadow {
  0%,
  50% {
    filter: drop-shadow(0 0 0.75rem rgb(50, 217, 223));
    font-weight: bold;
  }
  100% {
    filter: drop-shadow(0 0 0.75rem var(--bg-color));
    font-weight: normal;
  }
}

footer {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 6px;
}
